/*
---------------------------------------------------
Page
*/

body {
	padding-top: 75px;
	padding-bottom: 40px;
}

.fork-me {
	position: fixed; 
	z-index:9001; 
	top: 0px; 
	right: 0px; 
	border: 0px; 
	width: 149px; 
	height: 149px;
}

a {
	cursor: pointer;
}
.pointer {
	cursor: pointer;
}

#cpu, #memory, #disk, #users, #processes, #network {
	padding-top: 75px; 
	margin-top: -75px;
}

/*
---------------------------------------------------
Media Queries
*/

@media (max-width: 767px) {
	.fork-me {
		z-index:-1; 
		visibility: hidden;
	}
}