<div ng-view>

	<div class="col-sm-7 col-md-5 col-lg-5">
		<div id="cpu" class="panel panel-warning">
			<div class="panel-heading">
				<h3 class="panel-title">{{CPU.ModelName}}</h3>
			</div>

			<table class="table">
				<tbody>
					<tr>
						<td><span class="label label-warning">Processors / Cores</span></td>
						<td>{{CPU.Processors}}</td>
					</tr>
					<tr>
						<td><span class="label label-warning">Speed</span></td>
						<td>{{CPU.Speed}} MHz</td>
					</tr>
				</tbody>
			</table>

			<br/>
			<div class="panel-heading">
				<h3 class="panel-title">Load Average</h3>
			</div>

			<table class="table">
				<thead>
					<tr>
						<th>1 min</th>
						<th>5 min</th>
						<th>15 min</th>
						<th>Procs</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>{{CPU.Load1}}</td>
						<td>{{CPU.Load5}}</td>
						<td>{{CPU.Load15}}</td>
						<td>{{CPU.Processes}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

</div>
